<h1><%= t('books.title_edit') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('books.link_to_show'), @book %> |
  <%= link_to t('books.link_back_to_index'), books_path %>
</nav>
